$t-color: #ffffff;
$t-2-color: #bababa;
$t-3-color: #999899;
$t-pink-color: #decef2;
$t-fiolet: #5324D6;
$t-dark-fiolet: #40189e;
$bg-color: #040615;
$bg-accent: #06071E;
$bg-box: #150F37;
$bg-m-box: #1A0C6A;
$box-shadow: #000000;
$input-color: #120942;
$html-color: #BB391C;
$css-color: #1B69B1;
$js-color: #C2B113;
$scss-color: #AD165F;
$react-color: #1689AD;
$tailwind-color: #105AB1;
$threejs-color: #889093;
$git-color: #C3360A;
$tag-color:#2c1993;